#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment-author-info img {
    width: 80px;
    height: 80px;
}

.form-container {
  padding: 10px;
  margin: 30px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: medium;
  width: 100%;
}

.form-input {
  width: 60%;
}

.form-input textarea {
  padding: 5px;
  width: 100%;
}

.form-button {
  display: flex;
  justify-content: center;
}

.form-button button {
  padding: 5px 15px;
  font-size: large;
}