#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
}

.comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-author-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.comment-author-info img {
    border: 1px solid grey;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.comment-author-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.comment-body {
  padding-left: 100px;
}

.comment-body textarea {
  width: 100%;
  field-sizing: content;
  padding: 5px;
}

.form-container {
  padding: 10px;
  margin: 30px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: medium;
  width: 100%;
}

.form-input {
  width: 60%;
}

.form-input textarea {
  padding: 5px;
  width: 100%;
}

.form-button {
  display: flex;
  justify-content: center;
}

.form-button button {
  padding: 5px 15px;
  font-size: large;
}